.<%- include('../partials/header') %>
<div class="container">
    
        <h1 style="text-align: center; margin-top: 40px;">Add new comments to <%= campground.name %></h1>

        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
              
               
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>
               
                
                
            </form>
            <a href="/campgrounds">go back</a>
        </div>
        
            
       
    
    
    

    
</div>
<%- include('../partials/footer') %>